{% extends 'base.html' %}
{% load static %}
{% block title %}
    About Us
{% endblock %}
{% block body %}
    <div style="background-image: url('{% static 'imgs/bgs/am15.png' %}');background-repeat: no-repeat;background-size: cover" class="mdn-header mdn-push">
    <div  class="mdn-header__container">
      <h1 class="mdn-header__title">Welcome to the PICUPCLEAN</h1>
    </div>
  </div>
    <div class="terms">

  <div class="mdn-container">
    <p style="font-size: larger">The PICUPCLEAN Laundry & Dry Cleaners is a modern laundry and dry-cleaning service located in London. Since 2009, our team has been offering a fast-paced customer focused counter service and a collection and delivery laundry, dry cleaning, and related services for customers with a busy lifestyle. Our collection and delivery service from 7 am – 8 pm.</p>
      <p style="font-size: larger">We can fulfil most laundry requests, no matter how challenging. With decades of experience behind us, you can rest assured our team is ready to deliver the best possible customer service.</p>
      <p style="font-size: larger">For the ultimate in convenience laundry cleaning, accepting all major credit/debit cards, we even offer a mobile payment system so you can pay easily when we deliver your laundry to your doorstep.</p>
    <h2 style="text-align: center">A FEW WORDS ABOUT US</h2>
      <p style="text-align: center">Picupclean is a company conceptualized to work with professional dry cleaners, washerman and tailor. We are proud to do mobile laundry service, dry cleaning, wash & iron, ironing, boots repair, clothing alterations and tailoring service with free pick-up and delivery within 24 hours. We pick your dirty laundry, clean it methodically and deliver in a properly embalmed packet. Our cleaning experts make sure that everything goes as per client needs. It is the need to serve you with highly advanced services that we incorporate adroit technology in our working process. With our mobile laundry and dry cleaning services, you are able to contact us as per your convenient time.</p>
    <img style="display: block;width: 100%;margin-right: auto;margin-left: auto;margin-top: 5%" src="{% static 'imgs/about/Picture11.jpg' %}">
<h2 style="text-align: center">OUR HISTORY</h2>
      <p style="text-align: center">Initiating into the laundry business in 2010, we pledged to serve you with excellent washing and cleaning services. Our range of services include laundry, dry cleaning, alterations, steam ironing and shoe repair services. These services are developed to ease your daily task, and allow you to focus on other important work. The launderette collection is available with us and will help you to clean your clothes at affordable rates than others in the London. After all, your convenience and satisfaction is important to us.</p>
    <h2 style="text-align: center">Our Process </h2>
      <p>When you drop your clothes off at the cleaners, the employees follow a pattern that holds true at just about any dry-cleaning operation running today. Your clothes go through the following steps:</p>
      <img style="display: block;width: 100%;margin-right: auto;margin-left: auto;margin-top: 5%" src="{% static 'imgs/about/Picture12.jpg' %}">
      <p>
      <strong>Tagging and inspection - </strong>Some method, whether it is small paper tags or little labels written on a shirt collar, is used to identify your clothes so they don't get mixed up with everyone else's. Clothes are also examined for missing buttons, tears, etc. that the dry cleaner might get blamed for otherwise.
      </p>
      <p>
      <strong>Pre-treatment - </strong>The cleaner looks for stains on your clothes and treats them to make removal easier and more complete.
      </p>
      <p>
      <strong>Dry cleaning - </strong>The clothes are put in a machine and cleaned with a solvent.
      </p>
      <p>
      <strong>Post-spotting - </strong>Any lingering stains are removed.
      </p>
      <p>
      <strong>Finishing - </strong>This includes pressing, folding, packaging and other finishing touches.
      </p>
      <img style="display: block;width: 100%;margin-right: auto;margin-left: auto;margin-top: 5%" src="{% static 'imgs/about/Picture13.jpg' %}">
      <h2 style="text-align: center">WHY CHOOSE US </h2>
      <b>Personalized Experience</b>
      <p>Get personalized experience with our range of customer-oriented dry cleaning, alterations and laundromat services.</p>
      <b>Affordable Pricing</b>
      <p>The range of laundrette collection and other services are affordable enough to suit every pocket and budget.</p>
      <b>Online Booking</b>
      <p>We are 24x7 open, and you can make online bookings as per your convenience through our  website or mobile apps.</p>
      <b>Premium Quality & Service</b>
      <p>We believe in giving the best quality and premium services within the defined time.</p>
      <b>Free Doorstep Pickup & Drop</b>
      <p>Our valuable services involve free pickup and drop off your stuff and items at the doorstep in 24 hours.</p>
      <b>Eco-Friendly Procedure</b>
      <p>Our eco-friendly procedure is laced with a highly-advanced and technical cleaning process for your convenience.</p>
  <h2>Committed to making things easy for you</h2>
      <p>Managing your laundry and dry cleaning in the 21st century should be simple and accessible from anywhere.</p>
<p>We created the app that allows you to schedule an order in less than 2 minutes, whether at home, at the office or on the go. No need to speak to any representative, you can now manage all your orders with our easy-to-use website or mobile app.</p>
  <h2 style="text-align: center">Contact Information</h2>
      <p>Our phone lines are open or you can fill out the contact form and a member of our team will get back to you as soon as possible.</p>
<p style="font-weight: bold">2 Sunnycroft Road Hounslow, TW3 4DR</p>
<p style="font-weight: bold">contact@picupclean.com</p>
<p style="font-weight: bold">07759053194</p>
  </div>

  </div>
{% endblock %}
{% block script %}
{% endblock %}