<!doctype html>
<html lang="en-GB">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Prices | Pick Up Clean</title>
  <style>
    .async-hide {
      opacity: 0 !important
    }
  </style>
  <meta name="description"
    content="Competitive Dry Cleaning Prices from the Uk's 1st On Demand Dry Cleaners. Suits ✓ Shirts ✓ Dresses ✓ Curtains ✓ Repairs ✓ Alterations ✓">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
 <link rel="shortcut icon" href="{% static 'imgs/favicon.png' %}">
  <link rel="stylesheet"
    href="{% static '/css/css/styles.css' %}">
  <script>document.documentMode && document.write('<script src="{% static 'polyfill.io/v3/polyfill.min3a03.js?features=default%2Ces2017%2Cfetch' %}"><\/script>');</script>

</head>

<body class="prices-body light">
  <header>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand standard logo-container" href="{% url 'homepage' %}">
            <img src="{% static 'imgs/339w/Asset-1mdpi.png' %}" width="90px">
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-ihi navbar-main">
            <li><a href="{% url 'homepage' %}"><span class="link-text">Order</span></a></li>
            <li class="nav-item-prices"><a href="{% url 'price' %}"><span class="link-text">Pricing</span></a></li>
            <li class="services"><a href="{% url 'services' %}"><span class="link-text">Services</span></a></li>
            <li><a href="{% url 'areas' %}"><span class="link-text">Areas</span></a></li>
              <li>
                <a href="tel:+090078601">
                  <span class="link-text">T 090 0786 01</span>
                </a>
              </li>
              {% if not user.is_authenticated %}
                  <li><a href="{% url 'login' %}"> <span class="link-text">Log in</span></a></li>
                  {% else %}
                  <li><a href="{% url 'orderhistory' %}"><span class="link-text">My Orders</span></a></li>
                  <li><a href="accounts/login/"><span class="link-text">{{ user.first_name}} {{ user.last_name }}</span></a></li>
                  <li><a href="{% url 'logout' %}"> <span class="link-text">Log out</span></a></li>
              {% endif %}

            <li>
              <form action="#" style="visibility:hidden">
                <select name="flag_dropdown" id="flag_picker"
                  style="font-size:20px;height:auto;padding:0px;border:0;letter-spacing:0;border-radius:1px;background-color:transparent;padding-top:5px;">
                  <option value="GB">🇬🇧</option>
                </select>
                <input type="hidden" id="currentCountryCode" name="variable" value="GB" readonly>
              </form>
            </li>

            <li class="nav-btn-cta">
              <a href="{% url 'homepage' %}" class="btn btn-primary">Place an order</a>
            </li>
          </ul>

          <ol class="nav navbar-nav breadcrumb">
            <hr class="breadcrumb-hr" />
            <li><a href="{% url 'homepage' %}">Home</a></li>

          </ol>

        </div>
      </div>
    </nav>
  </header>


  <div id="content" role="main" class="prices-content">

    <div style="background-image: url('{% static 'imgs/ironing.jpg' %}')" class="prices-intro"></div>

    <section class="prices-section prices-header">
      <div class="text-wrapper">
        <h2 class="prices-title">Check out prices of our Services!</h2>
      </div>
      <div class="prices-search">
        <svg class="prices-search-icon" height="24" viewBox="0 0 24 24" width="24">
          <path
            d="m15.5 14h-.79l-.28-.27c.98-1.14 1.57-2.62 1.57-4.23 0-3.59-2.91-6.5-6.5-6.5s-6.5 2.91-6.5 6.5 2.91 6.5 6.5 6.5c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99 1.49-1.49zm-6 0c-2.49 0-4.5-2.01-4.5-4.5s2.01-4.5 4.5-4.5 4.5 2.01 4.5 4.5-2.01 4.5-4.5 4.5z" />
          <path d="m0 0h24v24h-24z" fill="none" />
        </svg>
        <input class="prices-search-input" placeholder="Search">
      </div>
    </section>

    <div class="prices-body">
      <section class="prices-section prices-category-list">
          {% for item in types %}
              <button class="btn btn-cta prices-category-item {{ item.active }}">
                  {{ item.name }}
              </button>
          {% endfor %}
      </section>

      <div class="prices-section">
        <h5 class="prices-list-title">Price list</h5>
      </div>

      <section class="prices-section prices-item-sections">
        {% for prices in services %}
            <div id="fist" class="prices-item-section">
              <div class="row">
                  {% for service in prices %}
                    <div class="col-md-6">
                        {% for unit in service %}
                            <div class="prices-item">
                            <div class="prices-item-left">
                              <div class="prices-item-name">
                                  {{ unit.name }}
                              </div>
                            </div>
                            <div class="prices-item-price">
                              £{{ unit.price }}
                            </div>
                          </div>
                            {% endfor %}
                    </div>
                  {% endfor %}
              </div>
            </div>
          {% endfor %}
{#        <div class="prices-item-section active">#}
{#          <div class="row">#}
{#            <div class="col-md-6">#}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Bed Set - 1 Double Duvet Cover, 1 Double Sheet, 2 Pillow Cases (Wash &amp; Press)#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £16.00#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Dress - Dry Clean#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £11.50#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Duvet - Double#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £21.50#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Jacket - Dry Clean#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £8.50#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Knitwear - Dry Clean#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £7.50#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Men&#39;s Rubber Half Sole &amp; Rubber Heel#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £44.70#}
{#                </div>#}
{#              </div>#}
{##}
{#            </div>#}
{##}
{#            <div class="col-md-6">#}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Re-hem Trousers (1 Leg)#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £6.90#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item"#}
{#                data-details="Items are washed at 30 degrees and tumble dried warm. We cannot take responsibility for items included that should not be treated in this way.">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Service Wash (Wash, Dry &amp; Fold) - Additional kg above 5kg#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £3.20#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item"#}
{#                data-details="Items are washed at 30 degrees and tumble dried warm. We cannot take responsibility for items included that should not be treated in this way. See FAQs for full list of items not to be included.">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Service Wash (Wash, Dry &amp; Fold) Up to 5kg#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £16.50#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Skirt - Dry Clean#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £7.00#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Trousers - Dry Clean#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £6.50#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Two-Piece Suit - Dry Clean#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £12.50#}
{#                </div>#}
{#              </div>#}
{##}
{#            </div>#}
{##}
{#          </div>#}
{##}
{#          <p class="prices-item-section-remarks"></p>#}
{##}
{##}
{#        </div>#}
{##}
{#        <div class="prices-item-section">#}
{#          <div class="row">#}
{##}
{#            <div class="col-md-6">#}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Burberry Trench Coat#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £46.50#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Canada Goose Coat#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £51.50#}
{#                </div>#}
{#              </div>#}
{##}
{#            </div>#}
{##}
{#            <div class="col-md-6">#}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Moncler Jacket#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £51.50#}
{#                </div>#}
{#              </div>#}
{##}
{#            </div>#}
{##}
{#          </div>#}
{##}
{##}
{#          <div class="prices-item-section-subtitle">Professional care for specialist items, please allow 72 hours for#}
{#            cleaning.</div>#}
{##}
{#        </div>#}
{##}
{#        <div class="prices-item-section">#}
{#          <div class="row">#}
{##}
{#            <div class="col-md-6">#}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Apron - Press Only#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £3.40#}
{#                </div>#}
{#              </div>#}
{##}
{#            </div>#}
{##}
{#            <div class="col-md-6">#}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Pashmina - press only#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £4.95#}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="prices-item">#}
{#                <div class="prices-item-left">#}
{#                  <div class="prices-item-name">#}
{#                    Pillowcase - Press Only#}
{#                  </div>#}
{#                </div>#}
{#                <div class="prices-item-price">#}
{#                  £1.76#}
{#                </div>#}
{#              </div>#}
{##}
{#            </div>#}
{##}
{#          </div>#}
{##}
{##}
{#          <div class="prices-item-section-subtitle">Press Only</div>#}
{##}
{#        </div>#}


        <div class="prices-item-section prices-search-results">
          <div class="row prices-search-result-items"></div>
          <p class="prices-search-results-empty">
            No record found.
          </p>
        </div>
      </section>

      <section class="prices-section prices-order">
        <div class="prices-order-container">
          <div class="prices-order-description">
            Check times for your address
          </div>
          <div class="embedded-order-form">
            <script>
              (function () {
                var link = document.createElement('link');
                link.rel = 'stylesheet';
                link.href = '{% static '/packages/time-slot-picker.css' %}';
                document.head.appendChild(link);
              })();
            </script>
              <!--Todo Create order form-->
            <form class="eof-form" method="post" action="{% url 'homepage' %}" autocomplete="off"
              data-config="{&quot;search_url&quot;: &quot;/api/time-slots/&quot;, &quot;preselect&quot;: false}">
              <div class="of-group of-group--address-line1">
                <input type="text" name="address_line1" autocomplete="off" role="combobox" aria-haspopup="true"
                  aria-autocomplete="list" spellcheck="false" maxlength="255" class="form-control"
                  placeholder="Postcode" required="" id="id_address_line1">
              </div>

              <button id="toggle-time-slots" type="button" class="btn of-time-slot-display of-time-slots-button">
                Time Slots
              </button>

              <div class="of-time-slot-display of-time-slot js-selected-pickup">
                <div class="of-time-slot-label">Collection Slot</div>
                <div class="of-time-slot-value js-selected-label"></div>
              </div>

              <div class="of-time-slot-display of-time-slot js-selected-dropoff">
                <div class="of-time-slot-label">Dropoff Slot</div>
                <div class="of-time-slot-value js-selected-label"></div>
              </div>

              <div class="time-slots"></div>

              <button class="btn of-submit-button" type="submit">Place order</button>

              <input type="hidden" name="pickup_date" id="id_pickup_date">
              <input type="hidden" name="pickup_time_slot" id="id_pickup_time_slot">
              <input type="hidden" name="dropoff_date" id="id_dropoff_date">
              <input type="hidden" name="dropoff_time_slot" id="id_dropoff_time_slot">
              <input type="hidden" name="address_line2" id="id_address_line2">
              <input type="hidden" name="address_line3" id="id_address_line3">
              <input type="hidden" name="address_line4" id="id_address_line4">
              <input type="hidden" name="postcode" id="id_postcode">
              <input type="hidden" name="city" id="id_city">
              <input type="hidden" name="country" id="id_country">

                {% csrf_token %}
            </form>


            <div class="unserved-area modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Area not served</h4>
                  </div>
                  <div class="modal-body">
                    <div style="margin-bottom: 1em;">
                      pickupclean does not currently serve your area.
                    </div>
                    <div style="margin-bottom: 1em;">
                      We're always adding new locations. Please fill out the form below to be notified when we roll out
                      to your area.
                    </div>
                    <form method="POST" action="/api/district-request/" id="unserved-area-form"
                      style="width: 300px; margin: 2em auto 1em;">
                      <div style="margin-bottom: 1em; display: flex; flex-direction: row;">
                        <label style="width: 100px; margin-top: 0.5em; font-weight: 500;">Name:</label><input
                          name="name" type="text" id="unserved-area-form-name" style="flex: 1;">
                      </div>
                      <div style="margin-bottom: 1em; display: flex; flex-direction: row;">
                        <label style="width: 100px; margin-top: 0.5em; font-weight: 500;">Email:</label><input
                          name="email" type="email" id="unserved-area-form-email" style="flex: 1;">
                      </div>
                      <input name="postcode" type="hidden" id="unserved-area-form-postcode">
                      <input name="country" type="hidden" id="unserved-area-form-country">
                        {% csrf_token %}
                      <input type="submit" value="Submit" style="width: 100%;">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

  <script src="{% static '/js/libs.js' %}"></script>
            <script
              src="{% static '/accounts/js/addresses.js' %}"
              data-pca-key="FW93-MZ92-GB55-AE75" data-pca-country="GB"></script>
            <script
              src=" {% static '/packages/time-slot-picker.js' %}"></script>
            <script
              src="{% static '/orders/js/order-form.js' %}"></script>
          </div>

        </div>
      </section>

      <section class="prices-section prices-features">
        <div class="prices-feature-item">
          <div class="prices-feature-icon-cont">
            <svg viewBox="0 0 104.11 52.05">
              <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <g stroke="#000">
                  <path
                    d="m97.2 23.32c-2.33-.66-11.82-3.19-14.16-3.84-4.24-1.19-4.57-1.15-6.09-2.81-4.13-4.5-5.53-6.1-10.78-11.35-2.39-2.39-7.5-4.57-13.17-4.57h-45.11c-1.69.01-2.59 1.25-3.07 3.07l-4 18.52a4.79 4.79 0 0 0 -.11 1v14.49a5.07 5.07 0 0 0 5.06 5.06h.12v-1.09c0-5.86 5.08-10.6 11.35-10.6s11.36 4.74 11.36 10.6v1.09h44.48v-1.09c0-5.86 5.08-10.6 11.36-10.6s11.35 4.74 11.35 10.6v1.09h2.06c4 0 5.49-2.13 5.49-5.41v-7.41c.02-4.07-1.55-5.44-6.14-6.75z" />
                  <path
                    d="m53 5.21h-2.93v10.27.12a5.15 5.15 0 0 0 4.93 4.16h17.15a.7.7 0 0 0 .5-1.19l-.26-.27c-3.15-3.44-4.75-5.2-9.39-9.82-1.57-1.58-5.64-3.27-10-3.27z" />
                  <ellipse cx="17.31" cy="42.94" rx="8.2" ry="8.37" />
                  <ellipse cx="17.31" cy="42.94" rx="3.03" ry="3.09" />
                  <ellipse cx="84.46" cy="42.94" rx="8.2" ry="8.37" />
                  <ellipse cx="84.46" cy="42.94" rx="3.03" ry="3.09" />
                  <path d="m.75 33.44h9.54" />
                  <path d="m91.42 33.44h11.94" />
                  <path d="m103.13 27.82h-4.91a2.74 2.74 0 0 0 -2.58 1.84l-1.3 3.78" />
                </g>
                <path d="m3.14 23.42v7.87" stroke="#c32a2e" />
                <path d="m49.08 25.69h6.01" stroke="#000" />
              </g>
            </svg>
          </div>
          <div class="prices-feature-details">
            <h5 class="prices-feature-title">Free Collection &amp; Delivery</h5>
            <p>On all orders over £20</p>
          </div>
        </div>
        <div class="prices-feature-item">
          <div class="prices-feature-icon-cont">

            <svg viewBox="0 0 83.98 50.84">
              <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="m7.98 15.36v-7.38h68.02v34.73h-7.24" stroke="#000" />
                <path d="m15.21 15.36v-14.61h68.02v34.73h-14.47" stroke="#000" />
                <path d="m.75 15.36h68.01v34.73h-68.01z" stroke="#000" />
                <path d="m5.84 45.01h6.43" stroke="#c32a2e" />
                <path d="m57.58 20.09h6.42" stroke="#c32a2e" />
                <g stroke="#000">
                  <path
                    d="m21 38.05v-7.63a3.92 3.92 0 0 1 1-2.8 3.49 3.49 0 0 1 2.64-1 4 4 0 0 1 3.49 1.8m0 9.63h-9.13" />
                  <path d="m18.95 32.34h6.63" />
                  <ellipse cx="45.87" cy="32.33" rx="4.58" ry="5.72" />
                  <path
                    d="m31 28.43a4.54 4.54 0 0 1 4-1.81 3.48 3.48 0 0 1 3.31 5.05c-1.37 2.73-4.52 4.4-7 6l-.54.37h8.06" />
                </g>
              </g>
            </svg>

          </div>
          <div class="prices-feature-details">
            <h5 class="prices-feature-title">£20 Minimum</h5>
            <p>You can give us fewer items and the order will be rounded up
              to £20</p>
          </div>
        </div>
        <div class="prices-feature-item">
          <div class="prices-feature-icon-cont">
            <svg viewBox="0 0 54.66 63.57">
              <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="m27.33 5.17v4.69" stroke="#c32a2e" />
                <g stroke="#000">
                  <path d="m.75 31.76h4.69" />
                  <path d="m27.33 58.33v-4.69" />
                  <path d="m53.91 31.75h-4.69" />
                  <path d="m27.32 13.08v18.66l10.02 9.96" />
                  <path d="m51.36.75-48.14 62.07" />
                  <circle cx="27.33" cy="31.75" r="26.58" />
                </g>
              </g>
            </svg>
          </div>
          <div class="prices-feature-details">
            <h5 class="prices-feature-title">No Show</h5>
            <p>A supplement of £10 will apply if you are not in for a
              collection or delivery</p>
          </div>
        </div>
      </section>
    </div>

    <section class="prices-section prices-order-support">
      <h2>Can’t find what you’re looking for?</h2>
      <p>
        You can have almost anything cleaned, pressed or repaired through pickupclean. If you have an item you would
        like us to take care of but can't see it listed please give us a call on
        <a href="tel:+442070604939">020 7060 4939</a>
        to clarify the price.
      </p>
      <p>
        For any high value services not listed on the pricing page we'll always contact you to get your permission
        before going ahead with the work.
      </p>
    </section>


    <div class="item-modal modal fade">
      <div class="modal-dialog">
        <div class="modal-content prices-item-modal-content">
          <svg class="prices-item-modal-close" data-dismiss="modal" aria-label="Close">
            <g stroke="#979797" fill="none" fill-rule="evenodd" stroke-linecap="square">
              <path d="M1.5.5l21.378 21.378M22.5.5L1.122 21.878" />
            </g>
          </svg>
          <div class="prices-item-modal-title"></div>
          <div class="prices-item-modal-description"></div>
          <div class="prices-item-modal-details"></div>
        </div>
      </div>
    </div>


  </div>

  <footer class="footer">
    <div class="container">
      <div class="footer-top">
        <div class="col-md-4 footer-app-stores">
          <div class="footer-top-title">Download our new app:</div>
          <a class="ios-link"
            href="#">
            <img
              src="{% static '/images/app-stores/apple.png' %}"
              alt="Download on the App Store">
          </a>
          <a class="android-link" href="#">
            <img
              src="{% static '/images/app-stores/google.png' %}"
              alt="Get it on Google Play">
          </a>
        </div>
        <div class="col-md-8 sub2-newsletter footer-push">
          <div class="footer-top-title">Subscribe to our newsletter:</div>
          <div class="sub2-newsletter-content">
            <form
              action="https://ihateironing.us5.list-manage.com/subscribe/post?u=70163dda0059bbc6424bb415f&amp;id=b7c1f868ac"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="sub2-form-container">
                <input type="email" value="" name="EMAIL" class="sub2-input" id="mce-EMAIL" placeholder="email address"
                  required>
                <input type="text" name="b_70163dda0059bbc6424bb415f_b7c1f868ac" tabindex="-1" value=""
                  style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="sub2-button">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="footer-payment-methods footer-push">
          <div class="footer-payment-methods-title">Accepted payment methods:</div>
          <img class="footer-payment-methods-img"
            src="{% static '/imgs/cards.png' %}"
            width="190" alt="Accepted payment methods">
        </div>
        <div class="footer-logo-wrapper footer-push">
          <div class="footer-logo">
            <img src="{% static 'imgs/339w/Asset-1mdpi.png' %}" width="90px">
          </div>
          <div class="footer-copyright">
            <div class="footer-company">© {% now 'Y' %} <span class="u-text-uppercase">pickupclean</span>.</div>
            <div class="footer-rights">All rights reserved.</div>
          </div>
        </div>
      </div>

    </div>
  </footer>
  <div class="cookie-consent">
    <div class="cookie-consent-container">
      <div class="cookie-consent-message">
        We use cookies to ensure you get the best experience on our website. To find out more, read our policy
        <a class="cookie-consent-link" href="privacy/index.html#cookies">here</a>.
      </div>
      <button id="cookie-consent-action" class="btn">Accept and close</button>
    </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% if not user.is_authenticated %}
        <script>
        localStorage.removeItem('token');
        </script>
      {% endif %}
    <script>
        var token=localStorage.getItem('token')
        if(token===null||token===undefined||token==='undefined'){
            $.get('/loggedin/',(res)=>{
                localStorage.setItem('token',res.token)
            });
        }
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        if(getCookie('cookieconsent')==='1'){
            var divCookie=document.getElementsByClassName('cookie-consent');
            divCookie[0].setAttribute("style","display:none")
        }
        document.getElementById('cookie-consent-action').addEventListener('click', function () {
            var expires = new Date();
            expires.setUTCFullYear(expires.getUTCFullYear() + 1);
            document.cookie = 'cookieconsent=1; expires=' + expires.toUTCString() + '; path=/';
            var message = this.parentNode.parentNode;
            message.parentNode.removeChild(message);
        });
    </script>
  </div>

  <script src="{% static '/js/libs.js' %}"></script>
  <script>
      $('#fist').addClass('active')
  </script>
  <script src="{% static '/accounts/js/addresses.js' %}"
    data-pca-key="FW93-MZ92-GB55-AE75" data-pca-country="GB"></script>
  <script src="{% static '/about/js/prices.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/css/css/styles.css' %}">
</body>

</html>