<!doctype html>
<html lang="en-GB">
{% load static %}
<head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="{% static 'imgs/339w/Asset-1mdpi.png' %}">
    <meta property="og:image:width" content="65">
    <meta property="og:image:height" content="100">
    <meta property="og:url" content="https://picupclean.com/">
    <meta property="og:site_name" content="Pick Up Clean">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="Laundary and Cleaning Services in UK">
    <meta property="og:type" content="website">
    <meta name="description" content="Dry Cleaning, Washing and Ironing Prices from the Uk's No 1 On Demand Dry Cleaners. Suits ✓ Laundry ✓ Shirts ✓ Dresses ✓ Curtains ✓ Repairs ✓ Alterations ✓ Sofa Cover">
    <meta name="keywords" content="Dry Cleaning, Wash, Ironing, Suiting in UK, Closet , Laundry,pickupclean,top laundry services, Suiting in UK,Formal Suits, Mens Suits Dry Clean, Mens Clothing Wash, Alterations, Repairs, My Suit Cleaning, Pick Up clean,pick up clean,picupclean">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
  <title>Reset Your Password | pickupclean</title>
  <link rel="shortcut icon"
    href="{% static 'imgs/favicon.png' %}">
  <link rel="stylesheet" href="{% static '/css/css/styles.css' %}">
  <script>document.documentMode && document.write('<script src="{% static 'polyfill.io/v3/polyfill.min3a03.js?features=default%2Ces2017%2Cfetch' %}"><\/script>');</script>

    <script type="text/javascript" src="{% static 'widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js' %}" async></script>

</head>
<body class="dark">
<noscript><iframe src="http://www.googletagmanager.com/ns.html?id=GTM-TLZJJ2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<header >
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand standard logo-container" href="{% url 'homepage' %}">
            <img src="{% static 'imgs/339w/Asset-1mdpi.png' %}" width="90px">
          </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-ihi navbar-main">
              <li><a href="{% url 'homepage' %}"><span class="link-text">Order</span></a></li>
            <li class="nav-item-prices"><a href="{% url 'price' %}"><span class="link-text">Pricing</span></a></li>
            <li class="services"><a href="{% url 'services' %}"><span class="link-text">Services</span></a></li>
            <li><a href="{% url 'areas' %}"><span class="link-text">Areas</span></a></li>

              <li>
                <a href="{% url 'login' %}">
                  <span class="link-text">Log in</span>
                </a>
              </li>
              <li>
                <a href="tel:+090078601">
                  <span class="link-text">T 090 0786 01</span>
                </a>
              </li>

              <li>
                <form action="#" style="visibility:hidden">
  <select name="flag_dropdown" id="flag_picker" style="font-size:20px;height:auto;padding:0px;border:0;letter-spacing:0;border-radius:1px;background-color:transparent;padding-top:5px;">
    <option value="GB">🇬🇧</option>
  </select>
  <input type="hidden" id="currentCountryCode" name="variable" value="GB" readonly>
</form>
              </li>

          <li class="nav-btn-cta">
            <a href="{% url 'homepage' %}" class="btn btn-primary">Place an order</a>
          </li>
        </ul>

              <ol class="nav navbar-nav breadcrumb">
                <hr class="breadcrumb-hr"/>
                  <li><a href="{% url 'homepage' %}">Home</a></li>

              </ol>

      </div>
    </div>
  </nav>
</header>


  <div class="registration">
    <div class="registration-container">

  <h1>Reset your password</h1>
  <form method="post">
      {% csrf_token %}

  <div class="row mb-2">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                      <div class="form-group last">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="newpassword" onkeyup="check(this)" name="newpassword" required>
                        <input type="hidden" value="{{ uidb64 }}" name="uidb64">
                        <input type="hidden" value="{{ token }}" name="token">
                      </div>
                    </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-12 col-lg-12 col-md-12">
                      <div class="form-group last">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmpassword" onkeyup="confirmcheck(this)" name="confirmnewpassword" required>
                      </div>
                      <div style="display:none;" id="cpass-alert" class="alert alert-danger" role="alert">
                          Password Does Not Match
                                            </div>
                  </div>
                </div>


    <button type="submit" class="btn btn-default">Reset password</button>


  </form>

    </div>
  </div>

<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="col-md-4 footer-app-stores">
        <div class="footer-top-title">Download our new app:</div>
        <a class="ios-link" href="#">
          <img src="{% static '/images/app-stores/apple.png' %}" alt="Download on the App Store">
        </a>
        <a class="android-link" href="#">
          <img src="{% static '/images/app-stores/google.png' %}" alt="Get it on Google Play">
        </a>
      </div>
      <div class="col-md-8 sub2-newsletter footer-push">
        <div class="footer-top-title">Subscribe to our newsletter:</div>
        <div class="sub2-newsletter-content">
          <form action="https://ihateironing.us5.list-manage.com/subscribe/post?u=70163dda0059bbc6424bb415f&amp;id=b7c1f868ac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="sub2-form-container">
              <input type="email" value="" name="EMAIL" class="sub2-input" id="mce-EMAIL" placeholder="email address" required>
              <input type="text" name="b_70163dda0059bbc6424bb415f_b7c1f868ac" tabindex="-1" value="" style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="sub2-button">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-payment-methods footer-push">
        <div class="footer-payment-methods-title">Accepted payment methods:</div>
        <img class="footer-payment-methods-img" src="{% static 'imgs/cards.png' %}" width="190" alt="Accepted payment methods">
      </div>
      <div class="footer-logo-wrapper footer-push">
        <div class="footer-logo">
          <img src="{% static 'imgs/339w/Asset-1mdpi.png' %}" width="90px">
        </div>
        <div class="footer-copyright">
          <div class="footer-company">© 2022 <span class="u-text-uppercase">pickupclean</span>.</div>
          <div class="footer-rights">All rights reserved.</div>
        </div>
      </div>
    </div>

  </div>
</footer>
  <script src="{% static '/static/js/libs.js' %}"></script>
  <script>
    window.intercomSettings = {
      app_id: 'uk1rq1t1'
    };
  </script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet">
  <script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('confirmpassword').value) {
            $('#reset-btn').attr("disabled",true);
            $("#cpass-alert").css('display','block');
        } else {
            $('#reset-btn').attr("disabled",false);
            $("#cpass-alert").css('display','none');
        }
    }
    function confirmcheck(input) {
        if (input.value != document.getElementById('newpassword').value) {
            $('#reset-btn').attr("disabled",true);
            $("#cpass-alert").css('display','block');
        } else {
            $('#reset-btn').attr("disabled",false);
            $("#cpass-alert").css('display','none');
        }
    }
    </script>
</body>
</html>