{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block style %}
    <script src="https://kit.fontawesome.com/9cff5eee9f.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% load static %}
{% load i18n %}
{% load account socialaccount %}
  <div style="background-image: url('{% static 'imgs/loginbg.jpg' %}');background-repeat: no-repeat;background-size: cover" class="registration">
    <div class="registration-container">
      
  <h1 style="color: #000000;font-weight: bold">Sign up</h1>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}

        {% endif %}
  <form id="signup-form" method="post">

      {% csrf_token %}

  <div class="form-group">
    <label style="color: #000000" for="id_username">First Name:</label>
    <input type="text" name="first_name" autofocus autocapitalize="none" autocomplete="firstname" maxlength="254" class="form-control" required id="id_firstname">
  </div>
  <div class="form-group">
    <label style="color: #000000" for="id_username">Last Name:</label>
    <input type="text" name="last_name" autofocus autocapitalize="none" autocomplete="lastname" maxlength="254" class="form-control" required id="id_lastname">
  </div>
  <div class="form-group">
    <label style="color: #000000" for="id_username">Phone:</label>
    <input type="text" name="phone" autofocus autocapitalize="none" autocomplete="phone" maxlength="254" class="form-control" required id="phone">
  </div>
  <div class="form-group">
    <label style="color: #000000" for="id_password">Password:</label>
    <input type="password" name="password" autocomplete="current-password" class="form-control" required id="id_password">
  </div>
  <div class="form-group">
    <label style="color: #000000" for="id_username">Email address:</label>
    <input type="text" name="email" autofocus autocapitalize="none" autocomplete="email" maxlength="254" class="form-control" required id="id_email">
  </div>

  
    <button style="background-color: #fe6703;color: white" class="g-recaptcha btn btn-default"
        data-sitekey="{{ sitekey }}"
        data-callback='onSubmit'
        data-action='submit'>Sign Up</button>
  </form>
  <p class="reg-push-md">
    Already have account?
    <a style="color: #fe6703" href="{% url 'login' %}">Login here.</a>
  </p>
<script type="text/javascript">
    var win;
function OpenNewWindow(MyPath)
{
    var left = (screen.width/2);
var top = (screen.height/2);
var popWidth = 800;
var popHeight = 600;
var popTop = top - popHeight/2;
var popLeft = left - popWidth/2;
if(win && !win.closed){ //checks to see if window is open
win.focus();
} else {
win = window.open(MyPath, 'Sign up to Pick up Clean', 'height=' + popHeight + ',width=' + popWidth + ',resizeable=0, top=' + popTop + ', left=' + popLeft);
win.focus();
}
}

function polling(){
    var login=window.localStorage.getItem('loggedIn');
    if (login) {
        clearInterval(timer);
        $.get('/loggedin/',(res)=>{
            if(res.login){
                window.localStorage.removeItem('loggedIn')
                window.location.replace('/');
            }else{
                window.localStorage.removeItem('loggedIn')
                window.location.replace('/login');
            }
       });
    }
}
timer = setInterval('polling()',1000);

</script>
{#        <div style="display:block;text-align: center;margin-top: 3%">#}
{#            <a style="display:inline-block" onclick="OpenNewWindow('/accounts/google/login')"><img style="width: 200px" src="{% static 'imgs/google-signin-button.png' %}" alt="not found"/></a>#}
{#            <a style="display:inline-block" onclick="OpenNewWindow('/accounts/facebook/login')"><img style="width: 200px" src="{% static 'imgs/fb-sign-in-button.png' %}" alt="not found"/></a>#}
{#        </div>#}

    </div>
  </div>

{% endblock %}
{% block script %}
    <script>
   function onSubmit(token) {
     document.getElementById("signup-form").submit();
   }
 </script>
{% endblock %}